{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil
{% endblock %}

{% block addcss %}<link rel="stylesheet" href="{% static 'base/css/perfil_user.css' %}">{% endblock %}

{% block content %}
    <div class="container">
        <!-- Cabeçalho do Perfil -->
        <div class="profile-header">
            <!-- Foto de Perfil -->
            <a href="{% url 'home' %}" class="login-btn">Voltar</a>
            <div class="info-basics-user">
                <h2>{{ usuario.username }}</h2>
                <p>{{ usuario.email }}</p>
            </div>
        </div>

        <!-- TODO Histórico de Compras e Vendas - Vincular com as models que irei fazer -->
        <div class="history-section">
            <h3>Histórico de Compras/Vendas</h3>
            <ul class="history-list">
                <li>Compra de Produto X - R$ 150,00 - Data: 22/12/2023</li>
                <li>Venda de Produto Y - R$ 200,00 - Data: 10/12/2023</li>
                <li>Compra de Produto Z - R$ 350,00 - Data: 05/11/2023</li>
            </ul>
        </div>
    </div>

{% endblock %}